<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>KPSmart Delivery</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/static/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Datatables  -->
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css"/>

    <!-- CSS for selectize -->
    <link rel="stylesheet" type="text/css" href="/static/selectize/css/selectize.css" />

    <!-- Default style sheet that you can use to override the template     -->
    <link href="/static/css/style.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/themify-icons.css" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    {% include "includes/sidebar.html" %}

    <div class="main-panel">
        {% include "includes/navbar.html" %}


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card confirmMail">
                            <div class="header row">
                                <div class="col-md-6 col-md-offset-3">
                                    <h1><i class="icon-success ti-check-box"></i>Confirm Mail</h1>
                                </div>
                            </div>
                            <div class="content">
                                <form method="get" action="/confirmMail" id="mailform">
                                    <h3>Mail will be dispatched: {day and date from graph}</h3>
                                    <div class="form-group">
                                        <label class="col-sm-2 form-control-label">Origin</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{origin.name | capitalize}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 form-control-label">Destination</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{destination.name | capitalize}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 form-control-label">Weight</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{mail.weight | round}} grams</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 form-control-label">Volume</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{mail.volume | round}} cm<sup>3</sup></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 form-control-label">Priority</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{mail.priority}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 form-control-label">Cost</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">${{mail.totalbusinesscost | round}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" style="margin-bottom:10px;"class="btn btn-success btn-fill btn-wd">Confirm</button>
                                        </br>
                                        <a href="/mails" id="back-button">Or Go Back</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> using template from <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
//hosted by Microsoft Ajax CDN
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<!--  Checkbox, Radio & Switch Plugins -->
<script src="/static/js/bootstrap-checkbox-radio.js"></script>

<!--  Notifications Plugin    -->
<script src="/static/js/bootstrap-notify.js"></script>

<!-- Datatables Plugin -->
<script type="text/javascript" src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example-table').DataTable({
            "dom": '<"search pull-left"f>rt<"bottom"lip><"clear">'
        });
    } );
</script>
<script type="text/javascript" src="/static/selectize/js/standalone/selectize.min.js"></script>
<script>
    $(function() {
        $('#origin').selectize({});

        $('#destination').selectize();
    });
</script>
<script type="text/javascript" src="/static/js/validation/mails.js"></script>
</html>
