<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>KPSmart Delivery</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/static/css/paper-dashboard.css" rel="stylesheet"/>

    <!-- CSS for selectize -->
    <link rel="stylesheet" type="text/css" href="/static/selectize/css/selectize.css" />

    <!-- Default style sheet that you can use to override the template     -->
    <link href="/static/css/style.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/themify-icons.css" rel="stylesheet">

</head>

<body id="page-top">

<div class="wrapper">
    {% include "includes/sidebar.html" %}

    <div class="main-panel">
        {% include "includes/navbar.html" %}


        <!-- PRICE UPDATE STUFF IS HERE -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Update Route Cost</h4>
                                {% if error %}
                                    {% for err in error %}
                                        <label class="error"> {{err}}</label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="content">
                                <form id="costUpdate" method="post" action="/cost/update/{{routeid}}">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="origin">Origin</label>
                                                    <select name="origin" id="origin" placeholder="Enter a Location..." required>
                                                        {% for location in locations %}
                                                            <option value={{location.locationid}} {% if route.origin == location.name %}selected{% endif %}>{{location.name | capitalize}}{% if location.isInternational %} - International{% endif %}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="destination">Destination</label>
                                                    <select name="destination" id="destination" placeholder="Enter a Location..." required>
                                                        {% for location in locations %}
                                                            <option value={{location.locationid}} {% if route.destination == location.name %}selected{% endif %}>{{location.name | capitalize}}{% if location.isInternational %} - International{% endif %}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="company">Company</label>
                                            <select name="company" id="company" placeholder="Enter a Location..." required>
                                                <option value="">Enter a Company...</option>
                                                {% for company in companies %}
                                                <option value={{company.companyid}} {% if route.company == company.name %}selected{% endif %}>{{company.name}} - {{company.type | capitalize}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <h5>New Costs:</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="weightcost">Weight</label>
                                                    <input type="number" id="weightcost" name="weightcost" class="form-control border-input" placeholder="Weight" {% if route %}value = "{{route.weightcost}}" {% endif %} required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="volumecost">Volume</label>
                                                    <input type="number" id="volumecost" name="volumecost" class="form-control border-input" placeholder="Volume" {% if route %}value = "{{route.volumecost}}" {% endif %} required>
                                                </div>
                                            </div>
                                        </div>

                                        <h5>New Limits:</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="maxweight">Weight</label>
                                                    <input type="number" id="maxweight" name="maxweight" class="form-control border-input" placeholder="Weight" {% if route %}value = "{{route.maxweight}}" {% endif %} required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="maxvolume">Volume</label>
                                                    <input type="number" id="maxvolume" name="maxvolume" class="form-control border-input" placeholder="Volume" {% if route %}value = "{{route.maxvolume}}" {% endif %} required>
                                                </div>
                                            </div>
                                        </div>

                                        <h5>Transport Details:</h5>

                                        <div class="form-group">
                                            <label for="day">Departure Day</label>
                                            <select id="day" name="day" required>
                                                <option value="0" {% if route.day == 0 %}selected{% endif %}>Sunday</option>
                                                <option value="1" {% if route.day == 1 %}selected{% endif %}>Monday</option>
                                                <option value="2" {% if route.day == 2 %}selected{% endif %}>Tuesday</option>
                                                <option value="3" {% if route.day == 3 %}selected{% endif %}>Wednesday</option>
                                                <option value="4" {% if route.day == 4 %}selected{% endif %}>Thurday</option>
                                                <option value="5" {% if route.day == 5 %}selected{% endif %}>Friday</option>
                                                <option value="6" {% if route.day == 6 %}selected{% endif %}>Saturday</option>
                                            </select>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="frequency">Departure Frequency (Hours)</label>
                                                    <input type="number" id="frequency" name="frequency" class="form-control border-input" placeholder="Frequency" {% if route %}value = "{{route.frequency}}" {% endif %} required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="duration">Duration (Hours)</label>
                                                    <input type="number" id="duration" name="duration" class="form-control border-input" placeholder="Duration" {% if route %}value = "{{route.duration}}" {% endif %} required>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit" class="btn btn-warning btn-fill btn-wd">Update</button>
                                    <div class="clearfix"></div>
                                </form>
                                <div class="footer">
                                    <hr>
                                    <form method="post" action="/cost/delete/{{routeid}}">
                                        <div class="delete">
                                            <button type="submit" class="btn-link"><i class="ti-trash"></i> Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/cost">
                                Routes
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> using template from <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>
</div>




</body>

<!--   Core JS Files   -->
<script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<!--  Checkbox, Radio & Switch Plugins -->
<script src="/static/js/bootstrap-checkbox-radio.js"></script>

<!--  Notifications Plugin    -->
<script src="/static/js/bootstrap-notify.js"></script>

<!-- Datatables Plugin -->
<script type="text/javascript" src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example-table').DataTable({
            "dom": '<"search pull-left"f>rt<"bottom"lip><"clear">'
        });
    } );
</script>
<script type="text/javascript" src="/static/selectize/js/standalone/selectize.min.js"></script>
<script>
    $(function() {
        $('#origin').selectize({
            create: false,
            allowEmptyOption: false
            // sortField: 'text'
        });

        $('#destination').selectize({
            create: false,
            allowEmptyOption: false
        });

        $('#company').selectize({
            create: false,
            allowEmptyOption: false
        });
        $("#day").selectize();

        {% if notify %}
        $.notify({
            icon: 'ti-truck',
            message: "{{notify}}"

        },{
            type: '{% if notifyType %}{{notifyType}}{% else %}success{% endif %}',
            timer: 300
        });
        {% endif %}
    });
</script>
<script type="text/javascript" src="/static/js/validation/transportcost.js"></script>
</html>
